.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html, body, #root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span {
  touch-callout: none;
  user-select: none;
}

.todos {
  -webkit-overflow-scrolling: touch;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


*:focus {
  outline: 0;
}

.shake {
  animation: shake 0.43s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 94% {
    transform: translate3d(0, -1px, 0);
  }

  24%, 52%, 80% {
    transform: translate3d(0, 1px, 0);
  }

  38%, 66% {
    transform: translate3d(0, -1px, 0);
  }

/*   40%, 60% { */
/*     transform: translate3d(0, 1px, 0); */
/*   } */
}
